pipeline/DynamicCopyPipeline.json
{
	"name": "DynamicCopyPipeline",
	"properties": {
		"activities": [
			{
				"name": "MetaData",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CSVDataset",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"folder_path": {
								"value": "@pipeline().parameters.folder_path",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "MetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MetaData').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"folder_path": {
				"type": "string"
			},
			"file_name": {
				"type": "string"
			},
			"container": {
				"type": "string"
			}
		},
		"annotations": []
	}
}