pipeline/DynamicCopyPipeline.json
{
	"name": "DynamicCopyPipeline",
	"properties": {
		"activities": [
			{
				"name": "MetaData",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FolderMetadataDS",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.p_source_container",
								"type": "Expression"
							},
							"folder_path": {
								"value": "@pipeline().parameters.p_source_folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						{
							"value": "childItems",
							"type": "Expression"
						}
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "MetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ForLoopCopyActivity').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ForLoopCopyActivity",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CSVDataset",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.p_source_container",
											"type": "Expression"
										},
										"folder_path": {
											"value": "@pipeline().parameters.p_source_folder",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CSVDataset",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.p_target_container",
											"type": "Expression"
										},
										"folder_path": {
											"value": "@pipeline().parameters.p_target_folder",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().itemName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"p_source_container": {
				"type": "string",
				"defaultValue": "vendor-source"
			},
			"p_source_folder": {
				"type": "string"
			},
			"p_target_container": {
				"type": "string",
				"defaultValue": "processed-data"
			},
			"p_target_folder": {
				"type": "string",
				"defaultValue": "raw/"
			}
		},
		"annotations": []
	}
}