pipeline/pl_incremental_sales_orders.json
{
	"name": "pl_incremental_sales_orders",
	"properties": {
		"activities": [
			{
				"name": "LookupOldWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT last_watermark_value\nFROM pipeline_watermark\nWHERE pipeline_name='pl_incremental_sales_orders'\nAND source_table_name='sales_orders'\n"
					},
					"dataset": {
						"referenceName": "MySql_ControlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyDeltaData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat(\n'SELECT * FROM sales_orders WHERE updated_at > ''',\nactivity('LookupOldWatermark').output.firstRow.last_watermark_value,\n''''\n)",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "MySqlTable_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TargetDS_ProjectIncremental",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupNewWatermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CopyDeltaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat(\n'SELECT MAX(updated_at) AS new_watermark FROM sales_orders WHERE updated_at > ''',\nactivity('LookupOldWatermark').output.firstRow.last_watermark_value,\n'''')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "MySqlTable_Source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupUpdate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LookupNewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat(\n'UPDATE pipeline_watermark SET last_watermark_value = ''',\nactivity('LookupNewWatermark').output.firstRow.new_watermark,\n''', last_run_status = ''SUCCESS'', updated_at = NOW() WHERE pipeline_name = ''pl_incremental_sales_orders'' AND source_table_name = ''sales_orders'''\n)\n",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "MySql_ControlTable",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}