pipeline/pl_incremental_sales_orders.json
{
	"name": "pl_incremental_sales_orders",
	"properties": {
		"activities": [
			{
				"name": "Lookup_OldWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT last_watermark_value\nFROM pipeline_watermark\nWHERE pipeline_name = 'pl_incremental_sales_orders'\n  AND source_table_name = 'sales_orders'"
					},
					"dataset": {
						"referenceName": "WaterMarkTable_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_OldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat(\n'SELECT * FROM sales_orders WHERE updated_at > ''',\nactivity('Lookup_OldWatermark').output.firstRow.last_watermark_value,\n''''\n)",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceData_GCP_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_SinkBronze_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_NewWatermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat(\n'SELECT MAX(updated_at) AS new_watermark FROM sales_orders WHERE updated_at > ''',\nactivity('Lookup_OldWatermark').output.firstRow.last_watermark_value,\n''''\n)",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "SourceData_GCP_DS",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}