pipeline/PL_Metadata_ForEach_FileCopy.json
{
	"name": "PL_Metadata_ForEach_FileCopy",
	"properties": {
		"activities": [
			{
				"name": "GM_List_Source_Items",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Folder_Metadata",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.p_source_container",
								"type": "Expression"
							},
							"folder_path": {
								"value": "@pipeline().parameters.p_source_folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						{
							"value": "childItems",
							"type": "Expression"
						}
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FE_Loop_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GM_List_Source_Items",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GM_List_Source_Items').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type, 'File')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data2",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_File_Copy",
												"type": "DatasetReference",
												"parameters": {
													"container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"folder_path": {
														"value": "@pipeline().parameters.p_source_folder",
														"type": "Expression"
													},
													"file_name": {
														"value": "@activity('GM_List_Source_Items').output.itemName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_File_Copy",
												"type": "DatasetReference",
												"parameters": {
													"container_name": {
														"value": "@pipeline().parameters.p_target_container",
														"type": "Expression"
													},
													"folder_path": {
														"value": "@pipeline().parameters.p_target_folder",
														"type": "Expression"
													},
													"file_name": {
														"value": "@activity('GM_List_Source_Items').output.itemName",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_File_Copy",
												"type": "DatasetReference",
												"parameters": {
													"container_name": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"folder_path": {
														"value": "@pipeline().parameters.p_source_folder",
														"type": "Expression"
													},
													"file_name": {
														"value": "@activity('GM_List_Source_Items').output.itemName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_File_Copy",
												"type": "DatasetReference",
												"parameters": {
													"container_name": {
														"value": "@pipeline().parameters.p_target_container",
														"type": "Expression"
													},
													"folder_path": {
														"value": "@concat('/',activity('GM_List_Source_Items').output.itemName)",
														"type": "Expression"
													},
													"file_name": {
														"value": "@activity('GM_List_Source_Items').output.itemName",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_source_container": {
				"type": "string",
				"defaultValue": "vendor-source"
			},
			"p_source_folder": {
				"type": "string"
			},
			"p_target_container": {
				"type": "string",
				"defaultValue": "processed-data"
			},
			"p_target_folder": {
				"type": "string",
				"defaultValue": "raw/"
			}
		},
		"annotations": []
	}
}